nav.navbar.navbar-expand-sm.bg-light.avbar-dark
    #container-fluid(style="margin-left:20px;")
    img.log(src="/images/logo.jpg") 
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#collapsibleNavbar
        ul.navbar-nav
            li.nav-item
                a.nav-link(href="/") Home
            li.nav-item
                a.nav-link(href="#") About
            li.nav-item
                a.nav-link( href="#") Constac US
            li.nav-item.dropdown 
                a.nav-link.dropdown-toggle( href="#" role="button" data-bs-toggle="dropdown") Projects
                ul.dropdown-menu
                    li
                        a.dropdown-item(href="#") Project1
                    li
                        a.dropdown-item(href="#") Project2
                    li
                        a.dropdown-item( href="#") Project3
 
                       

            

                